*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Quicksand", sans-serif;
	background-color: #fafafe;
}

.App {
	height: 100vh;
	display: grid;
	grid-template-columns: 10rem auto 42rem;
}

@media only screen and (max-width: 1024px) {
	.App {
		grid-template-columns: 10rem auto;
	}
}

@media only screen and (max-width: 576px) {
	html {
		font-size: 55%;
	}
}

@media only screen and (max-width: 450px) {
	html {
		font-size: 45%;
	}
}

@media only screen and (max-width: 395px) {
	html {
		font-size: 35%;
	}
}
/* MUI Component*/

.Autocomplete > div > *:first-child {
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 3rem;
}

.Autocomplete input:focus ~ fieldset {
	border-color: #f9a109 !important;
}

.Autocomplete:focus + label {
	color: #f9a109 !important;
}
.Autocomplete fieldset {
	border-radius: 1.2rem;
	border: 2px solid #bdbdbd;
	font-family: inherit;
}

.Autocomplete fieldset:hover {
	outline: none;
	border-color: #bdbdbd !important;
}
.Autocomplete fieldset {
	outline: none;
	border-color: #bdbdbd !important;
}
